.main-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shoeselector{
    position: relative;
    display: block;
    height: 100vh;
}

.typeselector{
    display: block;
    width: 100px;
    height: 80vh;
    border: 4px solid #130f0f;
    position: absolute;
    top: 0;
    left: 371px;
    z-index: 99;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorselector{
    width: 471px;
    height: 100px;

    border: 4px solid #130f0f;
    position: absolute;
    bottom: 0;
    z-index: 99;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector-img-container{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 10px 0;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.selected{
    filter: drop-shadow(2px 2px 0 #203a0f) drop-shadow(-2px -2px 0 #203a0f);
}

.selector-color-container{
    margin: 0 20px;
    cursor: pointer;

    div:first-child{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

#render3dcanvas{
    background-color: #489dbe;
    background-image: radial-gradient(#489dbe 1.7px, #e5e5f7 1.7px);
    background-size: 34px 34px;
}