body, html{
    font-family: Verdana,Geneva,sans-serif;
    
    padding: 0;
    margin: 0;

    background-color: #151518;
    //background: repeating-linear-gradient( -45deg, #e5e5f7, #e5e5f7 10px, #151518 10px, #151518 25px );
}